body
{
    text-align: center;
   
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

.links{
    float: right;
    color: black;
    font-family:inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 20px;
}
.links:hover{
    background-color: gold;
    color: black;
    font-size:20px;
}
